---
layout: default
---

<div class="home-hero">

  <div class="hero-left">
   <img src="{{ page.hero_image }}" alt="Hero image">
  </div>

  <div class="hero-right">
    <h1>{{ site.title }}</h1>
    <p class="hero-bio">{{ site.description }}</p>

    <div class="hero-buttons">
      <a href="/projects/" class="btn">Projects</a>
      <a href="/blog/" class="btn btn--primary">Blog</a>
    </div>

    <h2>Latest posts</h2>
    <ul>
      {% for post in site.posts limit:3 %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
          <small>{{ post.date | date: "%b %d, %Y" }}</small>
        </li>
      {% endfor %}
    </ul>
  </div>

</div>



