---
layout: default
---

<style>
.home-hero {
  display: flex;
  min-height: 100vh;
}

.hero-left {
  width: 40%;
  background-image: url('{{ page.hero_image }}');
  background-size: cover;
  background-position: center;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
}

.hero-right {
  margin-left: 40%;
  width: 60%;
  padding: 4rem;
  max-width: 760px;
}

.hero-right h1, 
.hero-right h2, 
.hero-right h3 {
  margin-top: 2rem;
}
</style>

<div class="home-hero">
  <div class="hero-left"></div>

  <div class="hero-right">
    {{ content }}
  </div>
</div>




