---
layout: default
---

<style>
.home-hero {
  display: flex;
  min-height: 100vh;
}

.hero-left {
  width: 40%;
  background-image: url('{{ page.hero_image }}');
  background-size: cover;
  background-position: center;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
}

.hero-right {
  margin-left: 40%;
  width: 60%;
  padding: 4rem;
}
</style>

<div class="home-hero">
  <div class="hero-left"></div>

  <div class="hero-right">
    <h1>{{ site.title }}</h1>
    <p>{{ site.description }}</p>

    <h2>Latest Posts</h2>
    <ul>
      {% for post in site.posts limit:5 %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>




