---
layout: default
---

<div class="project-wrapper">

  <div class="portfolio-card project-card">

    {% if page.image %}
      <img src="{{ page.image }}" alt="{{ page.title }}">
    {% endif %}

    <div class="portfolio-content">
      <h1>{{ page.title }}</h1>

      {% if page.tags %}
      <div class="portfolio-tags">
        {% for tag in page.tags %}
          <span>{{ tag }}</span>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>

  <div class="project-body">
    {{ content }}
  </div>

</div>

